<%- include('./partials/head') %>

<header>
  <h1>paginaoverzicht van <%= squad.name %></h1>
  <ul>
    <li><a href="/?squad=squad-a-2022">squad a</a></li>
    <li><a href="/?squad=squad-b-2022">squad b</a></li>
    <li><a href="/?squad=squat-c-2022">squad c</a></li>
  </ul>
</header>
<section class="body">
  <nav>
    <ul>
      <li>sorteren op</li>
      <li><a href="/?squad<%= squad.slug %>&orderBy=name">naam</a></li>
      <li><a href="">achternaam</a></li>
    </ul>
  </nav>

  <section class="squad-cards">
    <% squad.members.forEach(member => { %>
      <article>
        <div>
          <% if (member.avatar) { %>
            <img src="<%= member.avatar %>" alt="De avatar van <%= member.name %>" />
            <% }else{ %>
            <img src="/placeholder.png" alt="Placeholder avatar" />
          <% } %>
          <h1><%= member.name %> <%= member.surname %></h1>
        </div>
        <div class="bio">
          <% if (member.bio) { %>
            <h2><%= member.bio.html %></h2>
          <% }else{ %>
            <h2>no bio available</h2>
          <% } %>
        </div>
      </article>
    <% }) %>
  </section>
</section>

<%- include('./partials/foot') %>
