<%- include('./partials/head') %>

<header>
  <h1>paginaoverzicht van <%= squad.name %></h1>
  <ul class="squads">
    <li><a href="/?squad=squad-a-2022">squad a</a></li>
    <li><a href="/?squad=squad-b-2022">squad b</a></li>
    <li><a href="/?squad=squat-c-2022">squad c</a></li>
  </ul>
</header>
<section class="body">
  <nav>
    <ul class="sidebar-items">
      <li>sorteren op</li>
      <li>
        naam
        <ul>
          <li><a href="/?squad=<%= squad.slug %>&orderBy=name&orderDirection=asc"
            >A-Z</a>
          </li>
          <li><a href="/?squad=<%= squad.slug %>&orderBy=name&orderDirection=desc"
            >Z-A</a>
          </li>
        </ul>
      </li>
      <li>
        achternaam
        <ul>
          <li><a href="/?squad=<%= squad.slug %>&orderBy=surname&orderDirection=asc">A-Z</a></li>
          <li><a href="/?squad=<%= squad.slug %>&orderBy=surname&orderDirection=desc">Z-A</a></li>
        </ul>
      </li>
    </ul>
  </nav>

  <section class="squad-cards">
    <% squad.members.forEach(member => { %>
      <article>
        <div class="avatar-name">
          <div class="avatar">
          <% if (member.avatar) { %>
            <img src="<%= member.avatar %>" alt="De avatar van <%= member.name %>" />
            <% }else{ %>
            <img src="/placeholder.png" alt="Placeholder avatar" />
          <% } %>
          </div>
          <div class="name">
            <h1>
              <span class="name-name"><%= member.name %></span>
              <span class="name-surname"><%= member.prefix %> <%= member.surname %></span>
            </h1>
          </div>
        </div>
        <hr />
        <div class="info">
          <div class="website-role">
            <div class="info-role">
              <span><%= member.role %></span>
            </div>
            <a href="<%= member.website %>">
              <span>website</span>
            </a> 
          </div>
          <div class="color">
            <span>favoriete kleur:</span>
            <% if (member.colour) { %>
            <section style="background-color: <%= member.colour?.hex %>"></section>
            <% } else { %>
              <section>nog geen kleur bekend</section>
            <% } %>
            
          </div>
        </div>
      </article>
    <% }) %>
  </section>
</section>

<%- include('./partials/foot') %>
